*{
    padding: 0px;
}
body{
    background-color: #0e0e0e;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-right: 48px;
    margin-left: 60px;
    margin-top: 40px;
}
.navbar{
    display: inline;

}
.navbar li {
    color: white;
    font-weight: bold;
    list-style: none;
    display: inline;
    margin: 20px;
}

.navbar .Purchase{
    background-color: aliceblue;
    color: #0e0e0e;
    font-weight: lighter;
    padding: 20px;
    padding-left: 55px;
    padding-right: 55px;

}
a{
    color: inherit;
    text-decoration:none 
}
.TopPage{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 50vh;

}
.Title{
    font-size: 500%;
    font-weight: lighter;
    margin: 0;
}
.TopPage p{
    width: 70vh;
    text-align: center;
    font-size:large;
    font-weight: lighter;
    margin: 0;
}
.First_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;}

.Row1{
    display: flex;
    margin: 40px;
}
.Row2{
    display: flex;
    margin: 40px;
}
.Row3{
    display: flex;   
    margin: 40px;
}
.Row4{
    display: flex; 
    margin: 40px;    
}
.Card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
.Second_Section{   
    background-color: rgb(255, 255, 255);
    display: flex;

}
.Section2_LeftPic{ 
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 30px;
}
.Section2_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
}
.Section2_info h1{
    font-weight: lighter;
    width: 300px;

}
.Section2_info p{
    width: 340px;   
    font-size: large;
    margin-left: 200px;
    margin-top: 0px;

}
.view p{
    background-color:#0e0e0e;
    color: #ffffff;
    font-weight: lighter;
    font-size: medium;
    width: 80px; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;   
    margin: 0px;
}
.Section2_Bottom{
    background-color: #ffffff;
    height: 50vh;
}
.Squares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;

}
.Squares .Square{
    background-color: #e2e2e2;
    height: 20vh;
    width: 20vh;
    margin-top: 60px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 50px;
}
.Section2_Bottom p{
    display: flex;
    justify-content: center;  
}